@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'RedHatDisplay-Black';
    src: url('/fonts/RedHatDisplay-Black.ttf') ;
  }
  @font-face {
    font-family: 'RedHatDisplay-BlackItalic';
    src: url('/fonts/RedHatDisplay-BlackItalic.ttf') ;
  }

    @font-face {
        font-family: 'RedHatDisplay-Bold';
        src: url('/fonts/RedHatDisplay-Bold.ttf') ;
    }
    @font-face {
        font-family: 'RedHatDisplay-BoldItalic';
        src: url('/fonts/RedHatDisplay-BoldItalic.ttf') ;
    }
    @font-face {
        font-family: 'RedHatDisplay-Medium';
        src: url('/fonts/RedHatDisplay-Medium.ttf') ;
    }
    @font-face {
        font-family: 'RedHatDisplay-MediumItalic';
        src: url('/fonts/RedHatDisplay-MediumItalic.ttf') ;
    }
    @font-face {
        font-family: 'RedHatDisplay-Regular';
        src: url('/fonts/RedHatDisplay-Regular.ttf') ;
    }
    @font-face {
        font-family: 'RedHatDisplay-Italic';
        src: url('/fonts/RedHatDisplay-Italic.ttf') ;
    }
    h2 {
        font-size: 1.5rem !important;
        font-family: RedHatDisplay-Bold !important;
        margin-bottom: 0.75rem !important;
        font-weight: normal !important;
    }
    p,
    div,
    label,
    span,
    a,
    button {
        font-size: 1rem !important;
        font-family: RedHatDisplay-Medium !important;
        line-height: 1.1rem;
    },
    p {
      margin-bottom: 1rem !important;
    }
}
