{{ define "main" }}

<div>
  <article>
    <div>
      <h1>{{ .Title }}</h1>
    </div>

    {{ if .Params.toc }}
    {{ if gt (countwords .TableOfContents) 0 }}
    <div class="toc">
      {{ .TableOfContents }}
    </div>
    {{ end }}
    {{ end }}

    {{ if .Params.series }}
    <div class="series">
      <i>This post is part of the
      {{ range .Params.series }}
      <a href="/series/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      series.</i>
    </div>
    {{ end }}

    {{ if .Params.tldr }}
    {{ if gt (len .Params.tldr) 0 }}
    <h2>tldr: {{ .Params.tldr }}</h2>
    {{ end }}
    {{ end }}

    {{ .Content }}
  </article>

  <div class="modified">
    <small>Published <time>{{ .Params.date.Format "2 January, 2006" }}</time> /
      last modified on <time>{{ .Lastmod.Format "2 January, 2006"}}</time>.</small>
  </div>
</div>

{{ end }}
