{{ partial "header.html" . }}

<div>
  <article>
    <h1>{{ .Title }}</h1>
    <div>
      {{ range .Params.tags }} <a href="/tags/{{ . | urlize }}/">{{ . }}</a> {{ end }}
    </div>

    {{ if .Params.toc }}
    <div>
      {{ .TableOfContents }}
    </div>
    {{ end }}

    {{ if .Params.series }}
    <div>
      This post is part of the
      {{ range .Params.series }}
      <a href="/series/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      series.
    </div>
    {{ end }}

    {{ .Content }}
  </article>
  <div>
    Published <time>{{ .Params.date.Format "2 January, 2006" }}</time> by <a rel="author"
      href="{{ .Site.BaseURL }}author/{{urlize .Params.author}} ">{{ .Params.author }}</a>
  </div>
  <div>
    Last modified on {{ .Lastmod.Format "2 January, 2006"}}.
  </div>
</div>

{{ partial "footer.html" . }}