{{ partial "header.html" . }}

<div>
  <article>
    <h1>{{ .Title }}</h1>

    <h2>{{ .Params.tldr }}</h2>
    <div>
      {{ range .Params.tags }} <a href="/tags/{{ . | urlize }}/">{{ . }}</a> {{ end }}
    </div>

    {{ if .Params.toc }}
    <div>
      {{ .TableOfContents }}
    </div>
    {{ end }}

    {{ if .Params.series }}
    <div>
      This post is part of the
      {{ range .Params.series }}
      <a href="/series/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      series.
    </div>
    {{ end }}

    {{ .Content }}
  </article>
  <div>
    <small>Published <time>{{ .Params.date.Format "2 January, 2006" }}</time> /
      last modified on <time>{{ .Lastmod.Format "2 January, 2006"}}</time>.</small>
  </div>

</div>

{{ partial "footer.html" . }}