{{ partial "header.html" . }}

<div>
  <h1>{{ .Title }}</h1>
  {{ $page := . }}
  {{ .Content }}
  {{ $years := (slice "2020") }}
  {{ range .Pages }}
  {{ $year := .Page.Date.Format "2006" }}
  {{ if eq (in $years $year) false }}
  {{ $years = $years | append $year }}
  {{ end }}
  {{ end }}
  {{ range sort $years "value" "desc" }}
  {{ $year := . }}
  <h2>{{ $year }}</h2>
  <ul>
    {{ range $page.Pages }}
    {{ $postyear := .Page.Date.Format "2006" }}
    {{ if eq $year $postyear }}
    <li><a href="{{ .Page.Permalink }}">{{ .Page.Date.Format "2006-01-02" }} {{ lower .Page.Title }}</a></li>
    {{ end }}
    {{ end }}
  </ul>
  {{ end }}
</div>

{{ partial "footer.html" . }}
