/*
colors

#2F435A
#AB6B51
#D0B49F
#39918C

*/
@font-face {
  font-family: FiraCode-Bold;
  src: url(/fonts/FiraCode-Bold.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: FiraCode-Light;
  src: url(/fonts/FiraCode-Light.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: FiraCode-Medium;
  src: url(/fonts/FiraCode-Medium.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: FiraCode-Regular;
  src: url(/fonts/FiraCode-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: FiraCode-SemiBold;
  src: url(/fonts/FiraCode-SemiBold.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: FiraSans-Medium;
  src: url(/fonts/FiraSans-Medium.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: FiraSans-Regular;
  src: url(/fonts/FiraSans-Regular.ttf) format("truetype");
  font-display: swap;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: FiraCode-Regular;
  font-size: 0.95rem;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2rem;
  line-height: 1;
  font-family: FiraCode-SemiBold;
  margin-top: 2rem;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.1;
  font-family: FiraCode-Medium;
  margin-top: 2rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.1;
  font-family: FiraCode-Medium;
  margin-top: 2rem;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: yellow;
}

#__next {
  margin: 16px;
}

header, main {
  max-width: 800px;
  margin: auto;
  padding: 0.5rem 2rem;
}

pre {
  background-color: #eee !important;
  color: black;
  padding: 8px;
  overflow: auto;
  border-radius: 2px;
}

code {
  background-color: #eee !important;
  color: black;
}

a {
  color: black;
}

a:hover {
  background-color: yellow;
}

.toc {
  padding: 1rem; 
  margin: 1rem 0;
  line-height: 1.5rem;
  font-size: 0.8rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.toc ul {
  list-style-type: none;
}

.toc ul ul {
  padding-left: 1rem;
}

.toc nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.title {
  padding: 0 1rem 1rem 1rem; 
  margin: 1rem 0 2rem 0;
  border: 2px solid gray;
}

.modified {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

blockquote {
  border-left: 2px solid gray;
  color: gray;
  padding-left: 1rem;
  margin-left: 0.5rem;
}
