<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ if .IsPage }} {{ .Title }} | {{ end }}{{ .Site.Title }}</title>
        {{ $css := resources.Get "style.css" }}
        {{ $style := $css | resources.Minify }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>

        <header>
                <nav>
                        <a href="{{ .Site.BaseURL }}">Home</a>
                        {{ range .Site.Menus.main }}
                        / <a href="{{ .URL }}">{{ .Name }}</a>
                        {{ end }}
                </nav>
        </header>

        <main>
