{{ partial "header.html" . }}

<div>
  <article>
    {{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}
    {{ .Content }}
  </article>

  <div>
    <h2>Latest <small><a href="/posts">(Index)</a></small></h2>
    <ul>
      {{ range first 5 ( where .Site.Pages "Type" "blog" )}}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>

  <div>
    <h2>Zettelkasten <small><a href="/zettelkasten">(Index)</a></small></h2>
    <ul>
      {{ range first 5 ( where .Site.Pages "Type" "zettel" )}}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>

  </div>
</div>

{{ partial "footer.html" . }}